body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-discography, .title-popular-track h2, h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.description-h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.container, .description-container, .header-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  border: solid 1px #fff;
  background: none;
}

.page-description {
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  width: 100%;
  height: 100%;
  background: #08020d;
}

.header {
  width: 100%;
  padding-top: 25px;
  position: absolute;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  margin-right: 16px;
  max-width: 24px;
  max-height: 24px;
}

.music {
  margin-right: 100px;
  margin-top: 7px;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.menu li {
  list-style: none;
  padding-right: 24px;
}

li a {
  color: #cacaca;
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.header-search {
  background: #3c3b3d;
  border-radius: 50px;
  margin-left: 300px;
}

.header-input {
  background: none;
  min-width: 248px;
  min-height: 25px;
  padding-left: 10px;
  color: #fff;
}
.header-input::placeholder {
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #757575;
}

@media (min-width: 900px) and (max-width: 1240px) {
  .header-container {
    max-width: 1000px;
    padding: 0 5px 0 5px;
  }

  .header-search {
    margin-left: 30px;
  }

  .header-input {
    min-width: 200px;
  }
}
/* -------------------------------------- */
@media (min-width: 600px) and (max-width: 900px) {
  .header-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 5px 0 5px;
  }

  .menu li {
    padding-right: 8px;
  }

  .header-search {
    margin: 45px auto 0 auto;
  }

  .header-input {
    min-width: 300px;
  }
}
/* -------------------------------------------- */
@media (min-width: 400px) and (max-width: 600px) {
  .header-container {
    width: 100%;
    padding: 0 20px 0 20px;
    flex-direction: column;
  }

  .music {
    position: relative;
    top: -23px;
    left: 40px;
  }

  .menu {
    flex-direction: column;
    position: relative;
    top: -8px;
    margin-bottom: 18px;
  }

  .menu li {
    padding-bottom: 3px;
    height: 17px;
  }

  li a {
    line-height: 13px;
  }

  .header-search {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
#page-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
}

.description-container {
  flex-direction: column;
  align-items: flex-start;
}

.description-p {
  margin-top: 16px;
  margin-bottom: 48px;
}

.form-page-description {
  max-width: 570px;
  margin-left: 0;
}
.form-page-description .btn-page-desc {
  width: 200px;
  height: 62px;
  font-size: 12.8px;
  line-height: 19px;
  color: #fff;
  margin-top: 24px;
  border: none;
  margin-right: 1.5rem;
  margin-bottom: 224px;
}
.form-page-description .btn-desc-one {
  background: #5328a1;
  margin-bottom: 24px;
}
.form-page-description .btn-desc-two {
  background: #95390c;
}

.btn-page-desc .play-button {
  width: 20px;
  height: 20px;
  position: relative;
  left: -62px;
  top: 5px;
}
.btn-page-desc .svg-1 {
  filter: invert(1) sepia(0) saturate(1) hue-rotate(161deg);
  height: 20px;
  width: 20px;
  position: relative;
  left: -51px;
}
.btn-page-desc .svg-2 {
  filter: invert(1) sepia(0) saturate(1) hue-rotate(161deg);
  height: 20px;
  width: 20px;
  position: relative;
  left: -51px;
}
.btn-page-desc .svg-p-1 {
  position: relative;
  top: -22px;
  left: -2px;
  font-size: 12.8px;
  line-height: 150%;
  color: #ffffff;
  text-transform: uppercase;
}
.btn-page-desc .svg-p-2 {
  position: relative;
  top: -22px;
  left: 15px;
  font-size: 12.8px;
  line-height: 150%;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 400px) and (max-width: 600px) {
  #page-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .description-h1 {
    margin-top: 55px;
  }

  .form-page-description {
    max-width: 200px;
    margin-left: 0;
  }
}
.container {
  margin-top: 100px;
}

.title-popular-track {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.grid-page-popular-track {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px 5px;
}

.img-popular-track {
  width: 55px;
  height: 55px;
}

.img-popular-one {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}

.img-popular-two {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}

.img-popular-three {
  grid-row: 3/span 1;
  grid-column: 1/span 1;
}

.img-popular-four {
  grid-row: 1/span 1;
  grid-column: 7/span 1;
}

.img-popular-five {
  grid-row: 2/span 1;
  grid-column: 7/span 1;
}

.img-popular-six {
  grid-row: 3/span 1;
  grid-column: 7/span 1;
}

.info-track {
  margin-left: -30px;
}

.info-track-one {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}

.info-track-two {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}

.info-track-three {
  grid-row: 3/span 1;
  grid-column: 2/span 1;
}

.info-track-four {
  grid-row: 1/span 1;
  grid-column: 8/span 1;
}

.info-track-five {
  grid-row: 2/span 1;
  grid-column: 8/span 1;
}

.info-track-six {
  grid-row: 3/span 1;
  grid-column: 8/span 1;
}

.h3-popular-track {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
  color: #fff;
}

.p-popular-track {
  font-size: 12.8px;
  line-height: 19px;
  color: #e0e0e0;
}

.time-popular-track {
  font-size: 12.8px;
  line-height: 19px;
  color: #e0e0e0;
}

.time-popular-track-one {
  grid-row: 1/span 1;
  grid-column: 6/span 1;
}

.time-popular-track-two {
  grid-row: 2/span 1;
  grid-column: 6/span 1;
}

.time-popular-track-three {
  grid-row: 3/span 1;
  grid-column: 6/span 1;
}

.time-popular-track-four {
  grid-row: 1/span 1;
  grid-column: 12/span 1;
}

.time-popular-track-five {
  grid-row: 2/span 1;
  grid-column: 12/span 1;
}

.time-popular-track-six {
  grid-row: 3/span 1;
  grid-column: 12/span 1;
}

@media (min-width: 400px) and (max-width: 600px) {
  #page-popular-track {
    padding: 0 20px 0 20px;
  }

  .title-popular-track h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .img-popular-one {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
  }

  .img-popular-two {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
  }

  .img-popular-three {
    grid-row: 5/span 1;
    grid-column: 1/span 1;
  }

  .img-popular-four {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
  }

  .img-popular-five {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
  }

  .img-popular-six {
    grid-row: 6/span 1;
    grid-column: 1/span 1;
  }

  .info-track {
    margin-left: 10px;
  }

  .info-track-one {
    grid-row: 1/span 1;
    grid-column: 2/span 4;
  }

  .info-track-two {
    grid-row: 3/span 1;
    grid-column: 2/span 4;
  }

  .info-track-three {
    grid-row: 5/span 1;
    grid-column: 2/span 4;
  }

  .info-track-four {
    grid-row: 2/span 1;
    grid-column: 2/span 6;
  }

  .info-track-five {
    grid-row: 4/span 1;
    grid-column: 2/span 4;
  }

  .info-track-six {
    grid-row: 6/span 1;
    grid-column: 2/span 6;
  }

  .time-popular-track-one {
    grid-row: 1/span 1;
    grid-column: 12/span 1;
  }

  .time-popular-track-two {
    grid-row: 3/span 1;
    grid-column: 12/span 1;
  }

  .time-popular-track-three {
    grid-row: 5/span 1;
    grid-column: 12/span 1;
  }

  .time-popular-track-four {
    grid-row: 2/span 1;
    grid-column: 12/span 1;
  }

  .time-popular-track-five {
    grid-row: 4/span 1;
    grid-column: 12/span 1;
  }

  .time-popular-track-six {
    grid-row: 6/span 1;
    grid-column: 12/span 1;
  }
}
.title-discography {
  margin-bottom: 48px;
}

.grid-page-discography {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  grid-gap: 25px 50px;
}

.img-discography {
  width: 250px;
  height: 250px;
}

.img-discography-one {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}

.img-discography-two {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}

.img-discography-three {
  grid-row: 1/span 1;
  grid-column: 3/span 1;
}

.img-discography-four {
  grid-row: 1/span 1;
  grid-column: 4/span 1;
}

.img-discography-five {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}

.img-discography-six {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}

.h3-discography {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

.discography-info {
  margin-top: 269px;
}

.h3-discography {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.p-discography {
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.discography-info-one {
  grid-row: 1/span 1;
  grid-column: 1/span 1;
}

.discography-info-two {
  grid-row: 1/span 1;
  grid-column: 2/span 1;
}

.discography-info-three {
  grid-row: 1/span 1;
  grid-column: 3/span 1;
}

.discography-info-four {
  grid-row: 1/span 1;
  grid-column: 4/span 1;
}

.discography-info-five {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}

.discography-info-six {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}

@media (min-width: 400px) and (max-width: 600px) {
  .container {
    padding: 0 20px 0 20px;
  }

  .title-discography h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .grid-page-discography {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .img-discography {
    width: 137px;
    height: 137px;
  }

  .img-discography-one {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
  }

  .img-discography-two {
    grid-row: 1/span 1;
    grid-column: 2/span 1;
  }

  .img-discography-three {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
  }

  .img-discography-four {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
  }

  .img-discography-five {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
  }

  .img-discography-six {
    grid-row: 3/span 1;
    grid-column: 2/span 1;
  }

  .discography-info {
    margin-top: 151px;
  }

  .discography-info-one {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
  }

  .discography-info-two {
    grid-row: 1/span 1;
    grid-column: 2/span 1;
  }

  .discography-info-three {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
  }

  .discography-info-four {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
  }

  .discography-info-five {
    grid-row: 3/span 1;
    grid-column: 1/span 1;
  }

  .discography-info-six {
    grid-row: 3/span 1;
    grid-column: 2/span 1;
  }
}

/*# sourceMappingURL=style-artist.css.map */
