#page-description {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 713px
}

.description-container {
    @extend %container;
    flex-direction: column;
    align-items: flex-start;
}

.description-h1 {
    @extend %h1;
}

.description-p {
    margin-top: 16px;
    margin-bottom: 48px;
}

.form-page-description {
    max-width: 570px;
    margin-left: 0;

    .btn-page-desc {
        width: 200px;
        height: 62px;
        font-size: 12.8px;
        line-height: 19px;
        color: $font;
        margin-top: 24px;
        border: none;
        margin-right: 1.5rem;
        margin-bottom: 224px;
    }

    .btn-desc-one {
        background: $purple;
        margin-bottom: 24px;
    }

    .btn-desc-two {
        background: $red;
    }
}

.btn-page-desc {
    .play-button {
        width: 20px;
        height: 20px;
        position: relative;
        left: -62px;
        top: 5px;
    }

    .svg-1 {
        filter: invert(1) sepia(0) saturate(1) hue-rotate(161deg);
        height: 20px;
        width: 20px;
        position: relative;
        left: -51px;
    }

    .svg-2 {
        filter: invert(1) sepia(0) saturate(1) hue-rotate(161deg);
        height: 20px;
        width: 20px;
        position: relative;
        left: -51px;
    }

    .svg-p-1 {
        position: relative;
        top: -22px;
        left: -2px;
        font-size: 12.8px;
        line-height: 150%;
        color: #ffffff;
        text-transform: uppercase;
    }

    .svg-p-2 {
        position: relative;
        top: -22px;
        left: 15px;
        font-size: 12.8px;
        line-height: 150%;
        color: #ffffff;
        text-transform: uppercase;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    #page-description {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .description-h1 {
        margin-top: 55px;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
    }

    .form-page-description {
        max-width: 200px;
        margin-left: 0;
    }
}
