.main {
    background: $black;
}

.container {
    margin-top: 100px;
    @extend %container;
}

.title-popular-track {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

    h2 {
        @extend %h2;
    }
}

.grid-page-popular-track {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px 5px;
}

.img-popular-track {
    width: 55px;
    height: 55px;
}

.img-popular-one {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.img-popular-two {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.img-popular-three {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.img-popular-four {
    grid-row: 1 / span 1;
    grid-column: 7 / span 1;
}

.img-popular-five {
    grid-row: 2 / span 1;
    grid-column: 7 / span 1;
}

.img-popular-six {
    grid-row: 3 / span 1;
    grid-column: 7 / span 1;
}

.info-track {
    margin-left: -30px;
}

.info-track-one {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.info-track-two {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.info-track-three {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

.info-track-four {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1;
}

.info-track-five {
    grid-row: 2 / span 1;
    grid-column: 8 / span 1;
}

.info-track-six {
    grid-row: 3 / span 1;
    grid-column: 8 / span 1;
}

.h3-popular-track {
    font-weight: bold;
    font-size: 12.8px;
    line-height: 19.2px;
    text-transform: uppercase;
    color: $font;
}

.p-popular-track {
    font-size: 12.8px;
    line-height: 19px;
    color: $gray;
}

.time-popular-track {
    font-size: 12.8px;
    line-height: 19px;
    color: $gray;
}

.time-popular-track-one {
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
}

.time-popular-track-two {
    grid-row: 2 / span 1;
    grid-column: 6 / span 1;
}

.time-popular-track-three {
    grid-row: 3 / span 1;
    grid-column: 6 / span 1;
}

.time-popular-track-four {
    grid-row: 1 / span 1;
    grid-column: 12 / span 1;
}

.time-popular-track-five {
    grid-row: 2 / span 1;
    grid-column: 12 / span 1;
}

.time-popular-track-six {
    grid-row: 3 / span 1;
    grid-column: 12 / span 1;
}

@media (min-width: 400px) and (max-width: 600px) {
    #page-popular-track {
        padding: 0 20px 0 20px;
    }

    .title-popular-track h2 {
        font-size: 18px;
        line-height: 27px;
    }

    .img-popular-one {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .img-popular-two {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .img-popular-three {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
    }

    .img-popular-four {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .img-popular-five {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }

    .img-popular-six {
        grid-row: 6 / span 1;
        grid-column: 1 / span 1;
    }

    .info-track {
        margin-left: 10px;
    }

    .info-track-one {
        grid-row: 1 / span 1;
        grid-column: 2 / span 4;
    }

    .info-track-two {
        grid-row: 3 / span 1;
        grid-column: 2 / span 4;
    }

    .info-track-three {
        grid-row: 5 / span 1;
        grid-column: 2 / span 4;
    }

    .info-track-four {
        grid-row: 2 / span 1;
        grid-column: 2 / span 6;
    }

    .info-track-five {
        grid-row: 4 / span 1;
        grid-column: 2 / span 4;
    }

    .info-track-six {
        grid-row: 6 / span 1;
        grid-column: 2 / span 6;
    }

    .time-popular-track-one {
        grid-row: 1 / span 1;
        grid-column: 12 / span 1;
    }

    .time-popular-track-two {
        grid-row: 3 / span 1;
        grid-column: 12 / span 1;
    }

    .time-popular-track-three {
        grid-row: 5 / span 1;
        grid-column: 12 / span 1;
    }

    .time-popular-track-four {
        grid-row: 2 / span 1;
        grid-column: 12 / span 1;
    }

    .time-popular-track-five {
        grid-row: 4 / span 1;
        grid-column: 12 / span 1;
    }

    .time-popular-track-six {
        grid-row: 6 / span 1;
        grid-column: 12 / span 1;
    }
}
