.header {
  width: 100%;
  padding-top: 18px;
  position: absolute;
}

.header-container {
  @extend %container;
  display: flex;
  flex-wrap: wrap;
}

.img {
  margin-right: 16px;
  max-width: 24px;
  max-height: 24px;
}

.music {
  margin-right: 100px;
  margin-top: 5px;

  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: $font;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    list-style: none;
    padding-right: 24px;
  }
}

li a {
  color: $dark-gray;
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.header-search {
  background: $dark;
  border-radius: 50px;
  margin-left: 305px;
}

.header-input {
  background: none;
  min-width: 248px;
  min-height: 25px;
  padding-left: 10px;
  color: $font;

  &::placeholder {
    font-size: 13.3px;
    line-height: 15px;
    text-transform: uppercase;
    color: #757575;
  }
}
// --------------------------------------------
// Медиазапросы
@media (min-width: 900px) and (max-width: 1240px) {
  .header-container {
    max-width: 1000px;
    padding: 0 5px 0 5px;
  }

  .header-search {
    margin-left: 30px;
  }

  .header-input {
    min-width: 200px;
  }
}
/* -------------------------------------- */
@media (min-width: 600px) and (max-width: 900px) {
  .header-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 5px 0 5px;
  }

  .menu li {
    padding-right: 8px;
  }

  .header-search {
    margin: 45px auto 0 auto;
  }

  .header-input {
    min-width: 300px;
  }
}
/* -------------------------------------------- */
@media (min-width: 400px) and (max-width: 600px) {
  .header-container {
    width: 100%;
    padding: 0 20px 0 20px;
    flex-direction: column;
  }

  .music {
    position: relative;
    top: -23px;
    left: 40px;
  }

  .menu {
    flex-direction: column;
    position: relative;
    top: -8px;
    margin-bottom: 18px;
  }

  .menu li {
    padding-bottom: 3px;
    height: 17px;
  }

  li a {
    line-height: 13px;
  }

  .header-search {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
