.main {
    background: $black;
}

.container {
    @extend %container;
    padding-top: 100px;
}

#page-pricing h2 {
    text-align: center;
    @extend %h2;
    color: $font;
    margin-bottom: 50px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.price-img {
    width: 368.2px;
    height: 615px;
    border: none;

    padding: 0 1.5rem 0 1.5rem;
    border-radius: 1rem;
    margin-bottom: 50px;
}

.price-img h3 {
    margin-bottom: 200px;
    text-align: center;
    padding-top: 24px;

    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: $font;
}

.first {
    background: url("../images/subscribe_1.png");
    background-position: center;
    background-size: cover;
  }

.second {
    background: url("../images/subscribe_2.png");
    background-position: center;
    background-size: cover;
  }

.third {
    background: url("../images/subscribe_3.png");
    background-position: center;
    background-size: cover;
  }

.price-value {
    text-align: center;
    font-size: 64px;
    line-height: 1em;
    color: $font;
    margin-bottom: 40px;
}

.price {
    font-size: 41px;
    line-height: 1em;
    color: $font;
    text-transform: uppercase;
}

.button-price-img {
    width: 318px;
    height: 66px;
    border: solid 2px $font;
    background: none;
    margin-left: auto;
    margin-right: auto;

    // border-radius: 5px;
    margin-top: 40px;
    // margin-bottom: 64px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
        color: $font;
    }
}

.price-footer {
    font-size: 12.8px;
    line-height: 19px;
    text-align: center;
    color: $font;
    margin-top: 64px;
}

.page-pricing-footer {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $font;
}

// ------------------------------------------------
// Медиазапросы
@media (min-width: 900px) and (max-width: 1240px) {
    .container {
        max-width: 1000px;
        padding: 100px 5px 0 5px;
    }

    .third {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .container {
        max-width: 800px;
        padding: 100px 2px 0 2px;
    }

    .price-img {
        width: 290px;
    }

    .third {
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        width: 100%;
        padding: 0 2px 0 2px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 100px 20px 0 20px;
    }

    .price-img {
        width: 100%;
    }

    #page-pricing h2 {
        font-size: 18px;
        line-height: 27px;
    }

    #page-pricing h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .btn {
        width: 100%;
    }

    .price-footer {
        font-size: 12.8px;
        line-height: 19px;
        text-indent: -5px;
    }

    .page-pricing-footer {
        font-size: 16px;
        line-height: 24px;
    }
}
