// Этот файл для всех основных настроек проекта
// ####################################################

// Цвета, используемые в проекте
$black: #08020d;  //фоновый цвет
$gray: #e0e0e0;
$dark-gray:#cacaca;   //цвет шрифта
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$font: #fff;
   

// #######################################################################
// Шаблонные селеекторы. Подключаются через @extend
// ------------------------------------------------
// Шрифт
%font {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: $font;
}
// ---------------------------------------------------
// Заголовки
%h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

%h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}

// Для мобильной версии
%mobile-h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

%mobile-h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
}
// ------------------------------------------------------
// Контейнер
%container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
// --------------------------------------
// Кнопка
.btn {
    padding: 20px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    border: solid 1px $font;
    background: none;
  }
// -------------------------------------
// Первая секция обеих страниц  
.page-description {
    background-position: center;
    background-size: cover;
    padding: 200px 0;
}
// -----------------------------------------
// Вторая страница - первая секция
.img-popular-track {
    width: 55px;
    height: 55px;
}



